.container{
	padding-top:20px;
}

.regForm{
	width: 380px;
	height: 450px;
	text-align: center;
	margin: 35px auto;
	border:2px solid;
	background-color: #ffffe2;
	border-radius:14px;
	padding:10px;
}

h1{
	margin-top: 20px;
	color: #3333ff;
	text-shadow: 4px 4px #e0eceb;
	
}

fieldset{
	width: 320px;
	margin-left: 20px;
	border: 0.1px solid;
}

legend{
	text-align: left;
}

table{
	border-spacing:0 14px;
}

.note{
	font-size:11px;	
	}


.button{
	color: #0000e2;
	background-color: linear-gradient(#ccccc5 5%, #eff5f5 100%);
	border-radius:6px;
	height: 28px;
	font-weight: bold;
	font-size: 15px;
	border:0.5px solid;
	text-shadow: 0 1px 0 #fff;
	hover: green;
}

.button:hover{
	background-color: #80ff80;
	 text-decoration: underline;
}

.check{
	text-align: center;
}

a:hover{
 font-style: italic;	
}

footer{
	text-align: center;
	font-size: 11px;
}
